/* Mobile-first styles */

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Header styles */
.icon {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

h3 {
  margin: 10px;
  text-align: center;
  color: #333;
}

/* Form styles */
form {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Result styles */
.result {
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  max-width: fit-content;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  /* Header styles */
  h3 {
    font-size: 32px;
  }

  /* Form styles */
  form {
    max-width: 500px;
    margin: 0 auto;
  }

  /* Result styles */
  .result {
    width: fit-content;
  }
}

