<!DOCTYPE html>
<html lang="en">
<head>
    <title>Speak Colombian</title>
    <link
        rel="shortcut icon"
        href="{{ url_for('static', filename='colombian_flag.png') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='colombian_flag.png') }}" class="icon" />
        <h3 class="text-center">Speak Colombian</h3>
        <form action="/" method="post">
            <textarea
                class="form-control"
                name="input_text"
                rows="4"
                placeholder="Input text"
                required
            ></textarea>
            <input type="submit" value="Translate" />
        </form>
        {% if result %}
        <div class="result">
            {{ result }}
        </div>
        {% endif %}
    </div>
    <script>
        $("textarea").keypress(function (e) {
            if (e.which === 13 && !e.shiftKey) {
                e.preventDefault();

                $(this).closest("form").submit();
            }
        });
    </script>
</body>
</html>
